name: Build MicroPython BLE MIDI

on:
  workflow_dispatch:
  push:
    branches: [ 'main' ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install python3 python3-pip git

      - name: Dummy build step
        run: echo 'Build script placeholder for ESP32-S3 MicroPython BLE MIDI'
